<div class="button-bar">
    <button onclick="window.location.href='/'">Weather</button>
    <button onclick="window.location.href='/about'">About</button>
    <button onclick="window.location.href='/help'">Help</button>
</div>

<h1>{{title}}</h1>
<h4>{{subtitle}}</h4>